{% extends "./frame/layout.html" %}

{% block contents %}
<div class="row row-cols-2 row-cols-md-5 g-4">
  <div class="col">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="../static/images/mitsuboshi.jpg">
      <div class="card-body">
        <h5 class="card-title fw-bold mb-0 mb-md-1">三星 元汰</h5>
        <p class="card-text">企画</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="../static/images/kojima.jpg">
      <div class="card-body">
        <h5 class="card-title fw-bold mb-0 mb-md-1">小島 結友</h5>
        <p class="card-text">撮影・編集</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="../static/images/tagami.jpg">
      <div class="card-body">
        <h5 class="card-title fw-bold mb-0 mb-md-1">田上 隼</h5>
        <p class="card-text">タレント</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="../static/images/tomita.jpg">
      <div class="card-body">
        <h5 class="card-title fw-bold mb-0 mb-md-1">冨田 浩孝</h5>
        <p class="card-text">ドライバー</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 text-center">
      <img class="card-img-top" src="../static/images/kirishima.png">
      <div class="card-body">
        <h5 class="card-title fw-bold mb-0 mb-md-1">桐島 涼斗</h5>
        <p class="card-text">経路監修</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}